.sbdocs .sbdocs-h2 {
  display: none;
}

.sbdocs-content {
  max-width: 1280px !important;
}

.sbdocs-preview > div > div {
  margin: 0;
  padding: 0;
}

.sbdocs-preview > div > div > div {
  border: 0 !important;
}

.sbdocs-preview {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

#root ul,
#docs-root ul {
  padding-left: 0;
}

#root {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  min-width: 0;
}

.docs-story > div .innerZoomElementWrapper > * {
  border: 0 !important;
}

.docs-story [data-test="page"] {
  padding: 10px;
}

html[data-theme=dark] body,
html[data-theme=dark] .docs-story {
  background: #111317;
  color: #fff;
}
